# ===================================
# MONGO DB CONFIG
# ===================================
APP_PORT=3000


# ===================================
# MONGO DB CONFIG
# ===================================

# ===================================
# REDIS CONFIG
# ===================================
REDIS_URL = 'redis://redis:redis@172.17.0.2:6379'
KEY_EXPIRED_IN_SECOND = 120
# ===================================
# SERVICE CONFIG
# ===================================
AUTH_SERVICE_URL = "http://127.0.0.1:3001"
USER_SERVICE_URL = "http://127.0.0.1:3002"