# ===================================
# MONGO DB CONFIG
# ===================================
APP_PORT=3002


# ===================================
# MONGO DB CONFIG
# ===================================
DB_MONGO_USERNAME=root
DB_MONGO_PASSWORD=root
DB_MONGO_CLUSTER=dbnuranggibetest
DB_MONGO_NAME=db_nuranggi_betest

# ===================================
# REDIS CONFIG
# ===================================