# ===================================
# MONGO DB CONFIG
# ===================================
APP_PORT=3001

# ===================================
# MONGO DB CONFIG
# ===================================
DB_MONGO_USERNAME=root
DB_MONGO_PASSWORD=root
DB_MONGO_CLUSTER=dbnuranggibetest
DB_MONGO_NAME=db_nuranggi_betest

# ===================================
# REDIS CONFIG
# ===================================


# ===================================
# CRYPTO CONFIG
# ===================================
SECRET_KEY=vOVH6sdmpNWjRRIqCc7rdxs01lwHzfr3

# ===================================
# JWT CONFIG
# ===================================
JWT_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=1d
TOKEN_SECRET=U2FsdGVkX1/hnA2S3l0Evi+whG73WiOrplJA5fcfe2o=
REFRESH_TOKEN_SECRET=U2FsdGVkX18LvuBcY6prEGXDZhDoBa7O0GAUSzTWzdk=